<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>{{pageTitle}} | {{metadata.title}}</title>
    <meta name="Description" content="{{ pageDescription or metadata.description }}">
    <link rel="canonical" href="{{ page.url }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style amp-custom>{% include "css/main.css" %}</style>
  </head>
  <body>
    <header></header>
    <main>{{ content | safe }}</main>
    <footer></footer>
  </body>
</html>