---
layout: layout.njk
pageTitle: Home page
---
<h1>Heading</h1>

<p>Paragraph of text</p>

<img
  src="img/tobias-rademacher-9vp0Zi8P7yQ-unsplash.jpg"
  alt="<span>Photo by Tobias Rademacher on Unsplash</span>"
  width="431"
  height="646"
  class="mainImage"
/>
